*.bas linguist-language=VBA
*.svg linguist-detectable

/Hosting/*.js linguist-vendored

/Dinosaur/*.js linguist-vendored
/IdeaGenerator/Web/*.js linguist-vendored
/MadTyper/*.js linguist-vendored
/NumberLearning/*.js linguist-vendored
/TouchColorChangingTiles/*.js linguist-vendored
/WeddingAnniversary/*ts.js linguist-vendored
